@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Montserrat Alternates', sans-serif;
    }
}

:root {
    --swiper-pagination-color: #2c2c2c;
    --swiper-pagination-bullet-size: .5rem;
    --swiper-pagination-bullet-width: .5rem;
    --swiper-pagination-bullet-height: .5rem;
    --swiper-pagination-bullet-inactive-color: #000000;
    --swiper-pagination-bullet-inactive-opacity: 0.1;
    --swiper-pagination-bullet-horizontal-gap: .4rem;
}